/* -----------------------
    HOME PAGE
--------------------------*/

@-webkit-keyframes pulse_animation {
    0% {
        -webkit-transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.2);
    }
}

/* Welcome Section */

.tm_intro {
    background-color: #3b3b3b;
    background-repeat: none;
    background-position: top center;
    background-size: cover;
    overflow: hidden;
}
.welcome {
    position: absolute;
    top:50%;
    left:50%;
   
     -ms-transform: translate(-50% -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 210px;
}
.main-heading {
    display: inline-block;
    padding: 10px;
    border: solid 1px #fff;
    font-size: 1.4em;
    color: #fff;
    
}
.sub-heading {
    color: #fff;
    max-width: 250px;
    margin: 0 auto;
    font-size: 0.8em;
    line-height: 1.5;
}
@media screen and(min-width: 768px) {
    .welcome {
      width: 600px;
    
    }
  }

     @media screen and(min-width: 992px) {
    .welcome {
      width: 680px;
    
    }
  }

    @media screen and(min-width: 768px) {

    .main-heading {
        padding: 25px;
        font-size: 3em;
        
    }
    .sub-heading {
        max-width: 570px;
        color: #fff;
        max-width: 520px;
        margin: 0 auto;
        font-size: 1.1em;
        line-height: 1.5;
    }
}
/* Solutions Sections */

.solutions {
    background-color: #000;
    background-image: url(./gui/solutions-image-mob.jpg);
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}
@media screen and(min-width: 768px) {
    .solutions {
        background-image: url(./gui/solutions-image.jpg);
        background-position: center center;
        background-attachment: fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}
.solutions {
    text-align: left;
    color: #fff;
}
.solutions .solutions-txt {
    margin-top: 40px;
    padding-right: 50px;
}
.solutions-txt h1 {
    color: #fff;
}
.solutions .solutions-txt p {
    font-size: 11px;
}
@media screen and(min-width: 768px) {
    .solutions .solutions-txt p {
        font-size: 14px;
    }
}

.solutions-txt a {
 color: #fff !important;
}

.solutions .btn-discover {
    color: #fff;
    border-color: #fff;
}

.solutions .btn-discover:hover{
    color: #fff;
    border-color: $secondary-color;
}


.solutions .hotspot{
  position: absolute;
  z-index:1;
  display: block;
  width: 45px;
  height: 45px;
  font-size: 1.3em;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: -1px;
  color: white;
  border: none;
  border-radius: 50%;
  background-color: $primary-color;
  cursor: pointer;
  box-shadow: 0 0 0 0 rgba($primary-color, .5);
  -webkit-animation: pulse 1.5s infinite;
  outline:none;
}

@keyframes pulse {
    from { transform: scale(0.9); }
    70% { transform: scale(1);
    box-shadow: 0 0 0 50px rgba($primary-color, 0); }
    to { transform: scale(0.9); 
    box-shadow: 0 0 0 0 rgba($primary-color, 0);
}
}

.hotspot-icon{position: absolute; top:0; left:0; width:25px; height:25px; z-index:2; 
 background-image: url(./gui/hotspots-icon.png);
background-size: 200%;
top:11px;
left:11px;
background-repeat: no-repeat;
}

.solutions ul {
    list-style: none;
}
.solutions .opened {
     -webkit-animation: none;
    background-position: -27px 0px;
}
.solutions .hotspot .hotspot-info {
    visibility: hidden;
    display: table;
    width: 180px;
    height: 100px;
    position: absolute;
    padding: 10px;
    text-transform: uppercase;
    color: $primary-color;
    opacity: 0;
    @include animate;
}
.solutions .hotspot .hotspot-info p {
    display: table-cell;
    vertical-align: middle;
    font-size: 16px;
}
.solutions .hotspot .info-one,
.solutions .hotspot .info-three {
    background-color: #fff;
    left: -65px;
    top: 60px;
}
.solutions .hotspot .info-one:after,
.solutions .hotspot .info-three:after {
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left: -10px;
    content: ' ';
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
}
.solutions .hotspot .info-two,
.solutions .hotspot .info-four {
    background-color: #fff;
    left: -65px;
    top: -110px;
}
.solutions .hotspot .info-two:after,
.solutions .hotspot .info-four:after {
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -10px;
    content: ' ';
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fff;
}
.pulse {
    -o-animation: pulse_animation 1s infinite ease;
    -moz-animation: pulse_animation 1s infinite ease;
    -webkit-animation: pulse_animation 1s infinite ease;
    animation: pulse_animation 1s infinite ease;
}
.desktop__visible {
    display: none;
    visibility: hidden;
}
.mob__visible {
    visibility: visible;
}
@media screen and(min-width: 768px) {
    .mob__visible {
        display: none;
        visibility: hidden;
    }
    .desktop__visible {
        display: block;
        visibility: visible !important;
        opacity: 1 !important;
        ;
    }
}

/* Case Studies Sections */

.case-studies {
    background-color: #000;
    background-image: url(./gui/studies-image.jpg);
    background-position: top left;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}

/* Process (sectoion 4) */

.process{
     background-color: #fff;
}

#myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 70%;
    height: 70%;
    z-index: 1;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50% -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-size: 100% 100%;
    background-color: black;
    /* in case the video doesn't fit the whole page*/
    
    background-position: center center;
    object-fit: cover;
    /*cover video background */
}
/* MICRO CLEARFIX */

.cf-tr:before,
.cf-tr:after {
    content: " ";
    display: table;
}
.cf-tr:after {
    clear: both;
}
.cf-tr {
    *zoom: 1;
}

/* STRUCTURE */

.testimonial_rotator_wrap {
    
    position: relative;
}
.testimonial_rotator .slide {
    width: 100%;
    height: auto;
}
.testimonial_rotator_wrap.with-prevnext {
    padding: 0;
    position: relative;
    width: 100%;
}

/* TESTIMONIAL WITH IMAGE */

.testimonial_rotator .has-image .img,
.testimonial_rotator_single.has-image .img {
    display: none;
    text-align: right;
    width: 100%;
    margin-left: 5%;
    float: right;
    padding: 0;
    padding-top: .5em;
}
@media screen and(min-width: 768px) {
    .testimonial_rotator .has-image .img,
    .testimonial_rotator_single.has-image .img {
        display: block;
        width: 60%;
    }
}
.testimonial_rotator .has-image .img img,
.testimonial_rotator_single.has-image .img img {
    width: 100%;
    max-width: 600px;
    height: auto;
}
.testimonial_rotator .has-image .text,
.testimonial_rotator_single.has-image .text {
    width: 100%;
    float: left;
    padding-right: 35px;
    margin-top: 0;
    font-size: 13px;
}
@media screen and(min-width: 768px) {
    .testimonial_rotator .has-image .text,
    .testimonial_rotator_single.has-image .text {
        position: absolute;
        left: 0;
        top: 50%;
        -ms-transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%);
        -moz-transform: translate(-0, -50%);
        -o-transform: translate(0, -50%);
        transform: translate(0, -50%);
        width: 40%;
        padding-right: 0;
    }
}
@media screen and(min-width: 992px) {
    .testimonial_rotator .has-image .text,
    .testimonial_rotator_single.has-image .text {
        font-size: 14px;
    }
}
/* SLIDE VERSION */

.testimonial_rotator.format-rotator .slide {
    display: none;
}
.testimonial_rotator h1,
.testimonial_rotator h2 {
    margin: 10px 0 0 0;
    padding: 0;
}
.testimonial_rotator .testimonial_rotator_slide_title {
    text-transform: uppercase;
    margin: 0 0 15px 0;
    border-bottom: 1px solid #242830;
    padding-bottom: 15px;
    text-align: left;
}
/* SINGLE VERSION */

.testimonial_rotator_single {} .testimonial_rotator_single .testimonial_rotator_stars {} .testimonial_rotator_widget_wrap .testimonial_rotator_stars {
    padding: 10px 0;
}
/* LIST VIEW */

.testimonial_rotator.format-list .slide {
    margin: 40px 0;
}
/* EXTRAS */

.testimonial_rotator_author_info {
    font-size: 11px;
    font-style: italic;
    line-height: 1.3;
    padding-left: 15px;
    margin: 10px 0;
}
.testimonial_rotator_author_info p {
    margin-bottom: 0;
    padding-bottom: 0;
}
@media screen and(min-width: 992px) {
    .testimonial_rotator_author_info {
        font-size: 14px;
    }
}
.testimonial_rotator_microdata {
    display: none;
}
.testimonial_rotator_stars {
    padding: 10px 0;
}
.testimonial_rotator_star {
    margin: 0 3px 0 0;
    float: left;
    width: 20px;
    height: 20px;
    color: #d8b767;
    font-size: 20px;
    line-height: 20px;
}
.testimonial_rotator.rounded img {
    border-radius: 50%;
}
.testimonial-rotator-view-more {
    text-decoration: none;
    white-space: nowrap;
}
.testimonial_rotator_paged a {
    padding: 4px 10px;
    text-decoration: none;
}
.testimonial_rotator_paged a:first-child {
    float: right;
}
.testimonial_rotator_paged a:last-child {
    float: left;
}
/* PREV / NEXT BUTTON */

.testimonial_rotator_nav {} .testimonial_rotator_prev,
.testimonial_rotator_next {
      position: absolute;
  z-index:9999;
   bottom:-40px;
  display: block;
  width: 30px;
  height: 30px;
  font-size: 1.1em;
  padding-top:3px;
  text-transform: uppercase;
  text-align: center;
  color: white;
  border: none;
  border-radius: 50%;
  background-color: $primary-color;
  cursor: pointer;
  box-shadow: 0 0 0 5px rgba($primary-color, .3);
  outline:none;
}

@media screen and (min-width:768px){
.testimonial_rotator_nav {} .testimonial_rotator_prev,
.testimonial_rotator_next {
   bottom:20px;
}
}

.testimonial_rotator_quote{
    position: relative;
    text-align: left;
    font-style: italic;
}

.testimonial_rotator_quote:before, .testimonial_rotator_quote:after{
  content: '  ';
display:block;

height:40px;
width:100%;
top:-5px;
  left:-15px;
  font-size: 50px;
  line-height: 1;
  text-align: left;
  background-image: url(./gui/open-quotes.png);
  background-repeat: no-repeat;
}

.testimonial_rotator_quote:after{
 background-image: url(./gui/closed-quotes.png);
  background-repeat: no-repeat;
  margin-top:10px;
}


.testimonial_rotator_prev:hover,
.testimonial_rotator_next:hover {
    background-color: $secondary-color;
  cursor: pointer;
  box-shadow: 0 0 0 5px rgba($secondary-color, .3);
}
.testimonial_rotator_prev {
    left: 0px;
   
}
.testimonial_rotator_next {
  left:50px;
}

/* WIDGET */

.testimonial_rotator_widget_wrap {
    position: relative;
}

/* ERROR */

div.testimonial-rotator-error {
    color: #aa3429;
    font-weight: bold;
    display: block;
    padding: 10px;
    font-size: 11px;
    text-align: center;
    border: solid 1px #aa3429;
    text-transform: uppercase;
}
.home section {
    height: 100%;
}

/* CAROUSEL */

.carousel {
  position: initial;
}

.home-carousel{
    position: absolute;
  width: 100%;
  top: 0;
  height: 100%;
  left: 0;
}

.carousel-inner {
  position: inherit;
  width: 100%;
  overflow: hidden;
}

.carousel .carousel-inner .item {
  -webkit-transition-property: opacity;
          transition-property: opacity;
}
.carousel .carousel-inner .item,
.carousel .carousel-inner .active.left,
.carousel .carousel-inner .active.right {
  opacity: 0;
}
.carousel .carousel-inner .active,
.carousel .carousel-inner .next.left,
.carousel .carousel-inner .prev.right {
  opacity: 1;
}
.carousel .carousel-inner .next,
.carousel .carousel-inner .prev,
.carousel .carousel-inner .active.left,
.carousel .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.carousel .carousel-control {
  z-index: 2;
}

.carousel-indicators{
display:none;

}
.carousel-inner .item{
    height: 100% !important;
    position: absolute;
  width: 100%;
}

.studies-txt h1{
  text-align: left;
}