/* -----------------------
    PAGE LAYOUT
--------------------------*/

.container{
  max-width:1004px;
   @include animate;
}

.page-contents{
  clear:both;
  bottom:0;
  width:100%;
    background-color: rgba(255,255,255,0.9);
    padding: 20px 0;
    text-align:center;
}
.zopim iframe .meshim_widget_Widget{
  width:70px !important;
}