/* -----------------------
    RATES
--------------------------*/

.region-selector{
  background-color: $secondary-color;
 
}

.region-selector h2{
color:#fff;
display:inline-block;
  }

 .region-selector  .tab-container {
  margin-bottom: 0;
}