/* -----------------------
    RATES
--------------------------*/

.region-selector{
  background-color: $secondary-color;
}
.region-selector h2{
color:#fff;
display:inline-block;
text-transform: uppercase;
  }
 .region-selector  .tab-container {
  margin-bottom: 0;
}