/* ----------------------------
    OUR BRANDS
-------------------------------*/

.brands-style{
  background-color:#fff;
 
}
.js-solutions--list{
  list-style-type: none;
  margin:0;
  padding:0;
}

.js-solutions--preview{
  position: relative;
}
.js-solutions--padding{
  padding:50px 30px;
}
.ad-preview{
  text-align: center;
}
.brands-style .np{
  padding:0;
}
.products-button {
  width: 100%;
  background-color: #fff;
  border: none;
  text-align: left;
  font-size:21px;
  font-weight: 300;
  color:$secondary-color;
  outline: none;
  text-transform: inherit;
}
.current-product, .products-button:hover {
  color:$primary-color;
}
.js-solutions--list li{
padding-left:0;
}
.js-solutions--list .products-button:first-child{
  padding-top:0;
  padding-left:0;
}
.solutions-container{
 position: relative;
 display:table;
 width:100%;
}
.solutions-container-item{
  float:none;
  vertical-align: middle;
  padding:20px 30px;
}
@media screen and (min-width:481px){
.solutions-container-item{
  padding:50px 30px;
}
}

@media screen and (min-width:992px){
.solutions-container-item{
  display:table-cell;
  margin: 0;
}
}
.solutions-container-item ul{
margin-bottom: 0;
}
.products-container{
   background-color: $primary-color;
text-align: center;
}
 .js-solutions--preview img{
  width:100%;
  max-width: 300px;
 }
 @media screen and (min-width:768px){
.solutions-container-separator{
  border-right:1px solid #666;
}
}
.dwld-btn{
  background-image:url(./gui/download-icon.svg);
  background-repeat:no-repeat;
  padding-left:40px;
  background-size: 15%;
  background-position: 8px 8px;
  outline:none;
}

.dwld-btn:hover{
    color:primary-color;
  }
