/**
 * TablePress Default CSS

 */


/* Table description */
.box-gradient{
  margin-bottom: 5px;
  background-color: #fff;
  -webkit-box-shadow: 2px 3px 9px 2px rgba(69, 69, 71, 0.25);
  -moz-box-shadow: 2px 3px 9px 2px rgba(69, 69, 71, 0.25);
  box-shadow: 2px 3px 9px 2px rgba(69, 69, 71, 0.25);
}

@media screen and (min-width:768px){
  .box-gradient{
    margin-bottom: 50px;
}
}

.tablepress-table-description {
  clear: both;
  display: block;
}

.tablepress {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin-bottom: 0;
  border: none;
  font-size:.5em;
  text-align: center;
}

@media screen and(min-width:992px){
.tablepress {
  font-size:14px;
}
}


.tablepress-wrap{
  padding:20px;
  position: relative;
  margin: 30px 0 60px;
  background-color:#fff;
}

.tablepress-wrap:before{
  content: "";
  background-image:url(gui/tablepress/tablepress-arrow.png);
  background-repeat: no-repeat;
  width:42px;
  height:19px;
  top: -19px;
  position: absolute;
  left: 40px;
}

.tablepress th,
.tablepress td {
  padding: 15px 15px;
  border: none;
  background: none;
  text-align: center;
}

.tablepress .column-1{
  text-align:left;
}

.tablepress tbody td {
  vertical-align: top;
}

.tablepress tbody tr td {

}

.tablepress tbody tr td:first-child {
  width:35%;
}



/* Fix right column float in many themes */
.tablepress [class*="column"]+[class*="column"]:last-child {
  float: none;
}

/* Horizontal borders */
.tablepress tbody td,
.tablepress tfoot th {
  border-top: 1px solid #dddddd;
}
.tablepress tbody tr:first-child td {
  border-top: 0;
}
.tablepress thead th {
  border-bottom: 1px solid #dddddd;
}

/* Row background colors */
.tablepress thead th,
.tablepress tfoot th {
  font-weight: 700;
  vertical-align: middle;
font-size: .9em;
}
@media screen and (min-width:768px){
.tablepress thead th,
.tablepress tfoot th {

font-size: 16px;
}

}
.tablepress .odd td {
  background-color: #ffffff;
}
.tablepress .even td {
  background-color: #ffffff;
}

.tablepress tr .column-2, .tablepress tr .column-4, .tablepress tr .column-6, .tablepress tr .column-8, , .tablepress tr .column-10, .tablepress tr .column-12{
  background-color: #f0f0f0;
}
.tablepress .row-hover tr:hover td {
  background-color: $primary-color;
  color:#fff;
}

/* Reset image layout in tables */
.tablepress img {
  margin: 0;
  padding: 0;
  border: none;
  max-width: none;
}

/* Table wrapper */
.dataTables_wrapper {
  clear: both;
  margin-bottom: 1em;
}
.dataTables_wrapper .tablepress {
  clear: both;
  margin: 0 !important;
}

/* Length Change menu */
.dataTables_length {
  float: left;
  white-space: nowrap;
}

/* Filter/Search */
.dataTables_filter {
  float: right;
  white-space: nowrap;
}

/* Table information */
.dataTables_info {
  clear: both;
  float: left;
  margin: 4px 0 0;
}

/* Pagination */
.dataTables_paginate {
  float: right;
  margin: 4px 0 0;
  padding: 0 15px;
}
/* Two button pagination - previous/next */
.dataTables_paginate a {
  color: #111111;
  display: inline-block;
  //outline: none;
  position: relative;
  text-decoration:underline;

}
.dataTables_paginate .paginate_disabled_previous,
.dataTables_paginate .paginate_disabled_next {
  color: #999999;
  text-decoration: none;
}
.paginate_disabled_next,
.paginate_enabled_next {
  margin-left: 10px;
}
.paginate_enabled_previous:hover,
.paginate_enabled_next:hover {
  cursor: pointer;
  text-decoration: none;
}
.paginate_disabled_previous:before,
.paginate_enabled_previous:before,
.paginate_disabled_next:after,
.paginate_enabled_next:after {
  text-align: left;
  font-size: 14px;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  content: "\f053";
  color: #d9edf7;
  text-shadow: 0.1em 0.1em #666666;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -14px;
  margin: auto;
  height: 14px;
  width: 14px;
  line-height: 1;
}
.paginate_disabled_next:after,
.paginate_enabled_next:after {
  text-align: right;
  content: "\f054";
  left: auto;
}
.paginate_disabled_previous:before,
.paginate_disabled_next:after {
  color: #f9f9f9;
}
.paginate_enabled_previous:hover:before,
.paginate_enabled_next:hover:after {
  color: #049cdb;
}

/* Full number pagination */
.paging_full_numbers {
  height: 22px;
  line-height: 22px;
}
.paging_full_numbers a {
  border: 1px solid #aaaaaa;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 2px 5px;
  margin: 0 3px;
  color: #333333;
  background-color: #dddddd;
}
.paging_full_numbers .paginate_button:hover {
  background-color: #cccccc;
}
.paging_full_numbers .paginate_active {
  background-color: #99b3ff;
}

/* Processing indicator */
.dataTables_processing {
  display: none; /* always hidden, we don't use it */
}

/* Scrolling */
.dataTables_scroll {
  clear: both;
}
.dataTables_scrollBody {
  -webkit-overflow-scrolling: touch;
}

/* Sorting */
.dataTables_wrapper .sorting,
.dataTables_wrapper .sorting_asc,
.dataTables_wrapper .sorting_desc {
  padding-right: 20px; /* more right padding for sort arrows */
  cursor: pointer;
  //outline: none;
}
.dataTables_wrapper .sorting div,
.dataTables_wrapper .sorting_asc div,
.dataTables_wrapper .sorting_desc div {
  position: relative;
  margin: 0 !important;
  padding: 0 !important;
  float: none !important;
}
.dataTables_wrapper .sorting div:after,
.dataTables_wrapper .sorting_asc div:after,
.dataTables_wrapper .sorting_desc div:after {
  font-family: TablePress;
  font-weight: normal;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  top: 0;
  bottom: 0;
  left: auto;
  right: -14px;
  margin: auto;
  height: 14px;
  line-height: 1;
  padding: 1px 0 0;
}
.dataTables_wrapper .sorting div:after {
  content: "\f0dc";
}
.dataTables_wrapper .sorting_asc div:after {
  content: "\f0d8";
  padding: 0 0 1px;
}
.dataTables_wrapper .sorting_desc div:after {
  content: "\f0d7";
}
.dataTables_wrapper .sorting:hover,
.dataTables_wrapper .sorting_asc,
.dataTables_wrapper .sorting_desc {
  background-color: #049cdb;
}

/* Self clearing - */
.dataTables_wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.dataTables_wrapper label input,
.dataTables_wrapper label select {
  display: inline;
  margin: 2px;
  width: auto;
}
