h1, h2, h3, h4, h5, h6 {
	clear: both;
  font-family: "Open Sans",sans-serif; 
  line-height: 1.1;
}

h1 {
  font-weight: 300; font-size: 1.8em; color:#242830; text-transform: uppercase;
  }
h2 { font-size: 1.5em; color: #242830; font-weight: 300; }
h3 { font-size: 1.17em; margin: 1em 0; line-height: 1.5; font-weight:700;}
h4 { font-size: 1em; margin: 1.33em 0; }
h5 { font-size: 0.83em; margin: 1.67em 0; }
h6 { font-size: 0.75em; margin: 2.33em 0; }


@media screen and (min-width:768px){
  
    h1 {
  font-size: 2.6em;
  }

  h2 { font-size: 2.2em;}

  }
