$font__main: 'open-sans', helvetica, sans-serif;
$font__code: 'open-sans', helvetica, sans-serif;
$font__pre: 'open-sans', helvetica, sans-serif;
$font__size: 15px;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;