$font__main: 'Open Sans', helvetica, sans-serif;
$font__code: 'Open Sans', helvetica, sans-serif;
$font__pre: 'Open Sans', helvetica, sans-serif;
$font__size: 14px;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;