a {
	color: $secondary-color;

	&:visited {
		color: $secondary-color;
	}
	&:hover,
	&:focus,
	&:active {
		color: $primary-color;
		text-decoration: none;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}