.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin-top: 1.5em;
  margin-bottom: 1.5em;
  background-color: #fff;
  padding:25px;
}

.entry-content p {
  font-size: 16px;
  line-height: 2em;
  margin-bottom: 1em;
}

.entry-content p:first-of-type {
  font-weight: bold;
}

.entry-content .post-link-bar .cat-links::before {
  content: "";
  margin-right: 0;
}

.page-link {
  clear: both;
  display: block;
  margin: 0 0 15em;
}

.post-aside {
  background-color: #2a2a2a;
}

.post-aside__right {

}

@media (min-width: 768px) {
  .post-aside__right {

  }
}

.post-aside .entry-meta {
  line-height: 4em;
  color: rgb(255,255,255);
}

.post-aside .entry-meta a {
  color: rgb(150,150,150);
}

.post-link-bar {
  margin-bottom: 2em;
  padding-bottom: 1em;
  border-bottom: 1px solid grey;
}

.post-link-bar a {
  color: rgb(150,150,150);
}

.post-link-bar .tags-links,
.post-link-bar .cat-links,
.post-link-bar .comments-link {
  margin-left: 0.5em;
}

.post-link-bar .tags-links::before,
.post-link-bar .cat-links::before,
.post-link-bar .comments-link::before {
  content: "|";
  margin-right: 0.5em;
}

.post-link-bar .edit-link {
  float: right;
}
